source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
  gist swlaschin/3418b549bd222396da82
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
  github fsprojects/FSharp.TypeProviders.StarterPack src/AssemblyReader.fs
  github fsprojects/FSharp.TypeProviders.StarterPack src/AssemblyReaderReflection.fs
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypesContext.fs
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypesTesting.fs    

group Test
  source https://nuget.org/api/v2
  
nuget FsUnit 1.4.1
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2